@import url('https://fonts.googleapis.com/css2?family=Just+Another+Hand&family=Shadows+Into+Light+Two&family=Sofia+Sans+Extra+Condensed:ital,wght@0,1..1000;1,1..1000&display=swap');

/* Global Styles */
:root {
  --primary-color: #067192ea;
  --primary-transparent: rgba(34, 7, 88, 0.481);
  --dark-blue: #013646;
  --light: #fafafa;
  --lighter: #f5f5f5;
  --dark: #2c2c2c;
  --grey: #979797;
  --light-grey: #eeecec;
  --dark-grey: #4d4d4d;
  --darker: #080808;
  --dark-transparent: #080808c3;
  --black: #000000;
  --yellow: #fdd935;
  --yellow-1: #e9bd43;
  --yellow-2: #f5b935;
  --size: clamp(10rem, 1rem + 40vmin, 30rem);
  --gap: calc(var(--size) / 14);
  --duration: 60s;
  --scroll-start: 0;
  --scroll-end: calc(-100% - var(--gap));
}

* {
  margin: 0;
  padding: 0;
}

/* ---------- Global Styles */

.text-main {
  color: var(--primary-color);
}

.text-sans {
  font-family: "Lexend", sans-serif;
  /* text-transform: uppercase; */
}

.text-tight {
    font-family: "Sofia Sans Extra Condensed", sans-serif;
}

.text-yellow {
  color: var(--yellow-1);
}

.bg-trans {
  background-color: transparent;
  background: none;
}

header {
    background: #030423;
}

/* --- Bubble Wrapper */

.wrapper {
  width: 100%;
  /* max-width: 100%; */
  height: 60vh;
  background: #030423;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  overflow: hidden;
  padding: 0px auto;
}

/* ------------ Hero */
span.hero-text {
  max-width: 100%;
  background-image: url('your-hero-image.jpg'); /* Optional background image */
  background-size: cover;
  background-position: center;
  overflow: hidden; /* Hide overflowing text during transitions */
}

.hero-text {
  top: 170%;
  transform: translate(-50%, -50%); /* Center the text */
  text-align: center;
  color: white; /* Or your preferred text color */
  opacity: 0; /* Hide by default */
  transition: opacity 0.5s ease-in-out; /* Smooth transition for fading */
}

.hero-text.active {
  opacity: 1; /* Show the active text */
    top: 170%;

}

.title {
    color: var(--yellow-2);
    text-transform: uppercase;
    font-weight: 600;
}

.outlined-text {
    color: #0a4c8a;
    -webkit-text-stroke: .45px #0f8de8;
    text-shadow: -1px -1px 0 var(--primary-color), 1px -1px 0 #07386d, -1px 1px 0 #ffffff, 1px 1px 0 var(--dark-blue);
    font-family: "Sofia Sans Extra Condensed", sans-serif;
    text-transform: uppercase;
}

/* 
.outlined-text {
    color: #0a4c8a;
    -webkit-text-stroke: .45px #59b5ff;
    text-shadow: -1px -1px 0 var(--primary-color), 1px -1px 0 #07386d, -1px 1px 0 #ffffff, 1px 1px 0 var(--dark-blue);
    font-family: "Sofia Sans Extra Condensed", sans-serif;
    text-transform: uppercase;
} */

#jumbotron {
    display: flex;
    justify-content: center;
    margin: 0px auto;
}
 .wrapper a {
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  letter-spacing: 1px;
  word-spacing: 2px;
  color: var(--yellow-2);
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.2rem;
} 

a.btn-outline-yellow,
.btn-outline-yellow {
    font-family: "Sofia Sans Extra Condensed", sans-serif;
    border-color: var(--yellow-2);
    font-size: 1.2rem;
    color: var(--yellow-2);
}

.btn-outline-yellow:hover {
  background-color: var(--yellow-2);
  color: #030423;
}


.wrapper div {
  height: 60px;
  width: 60px;
  border: 2px solid rgba(255, 255, 255, 0.7);
  border-radius: 50px;
  position: absolute;
  top: 10%;
  animation: 4s linear infinite;
}

div .dot {
  height: 10px;
  width: 10px;
  border-radius: 50px;
  background: rgba(255, 255, 255, 0.5);
  position: absolute;
  top: 20%;
  right: 20%;
}

.wrapper div:nth-child(1) {
  top: 20%;
  left: 20%;
  animation: animate 8s linear infinite;
}
.wrapper div:nth-child(2) {
  top: 60%;
  left: 80%;
  animation: animate 10s linear infinite;
}
.wrapper div:nth-child(3) {
  top: 40%;
  left: 40%;
  animation: animate 3s linear infinite;
}
.wrapper div:nth-child(4) {
  top: 66%;
  left: 30%;
  animation: animate 7s linear infinite;
}
.wrapper div:nth-child(5) {
  top: 90%;
  left: 10%;
  animation: animate 9s linear infinite;
}
.wrapper div:nth-child(6) {
  top: 30%;
  left: 60%;
  animation: animate 5s linear infinite;
}
.wrapper div:nth-child(7) {
  top: 70%;
  left: 20%;
  animation: animate 8s linear infinite;
}
.wrapper div:nth-child(8) {
  top: 75%;
  left: 60%;
  animation: animate 10s linear infinite;
}
.wrapper div:nth-child(9) {
  top: 50%;
  left: 50%;
  animation: animate 6s linear infinite;
}
.wrapper div:nth-child(10) {
  top: 45%;
  left: 20%;
  animation: animate 10s linear infinite;
}
.wrapper div:nth-child(11) {
  top: 10%;
  left: 90%;
  animation: animate 9s linear infinite;
}
.wrapper div:nth-child(12) {
  top: 20%;
  left: 70%;
  animation: animate 7s linear infinite;
}
.wrapper div:nth-child(13) {
  top: 20%;
  left: 20%;
  animation: animate 8s linear infinite;
}
.wrapper div:nth-child(14) {
  top: 60%;
  left: 5%;
  animation: animate 6s linear infinite;
}
.wrapper div:nth-child(15) {
  top: 90%;
  left: 80%;
  animation: animate 9s linear infinite;
}
@keyframes animate {
  0% {
    transform: scale(0) translateY(0) rotate(70deg);
  }
  100% {
    transform: scale(1.3) translateY(-100px) rotate(360deg);
  }
}

/* ---------------- Header ---------------- */

a.navbar-brand.condensed-font {
  font-family: "Sofia Sans Extra Condensed", sans-serif;
}

a.navbar-brand {
  text-transform: uppercase;
  font-weight: 600;
}

a.nav-link {
  font-family: "Sofia Sans Extra Condensed", sans-serif;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 600;
  color: var(--dark-blue);
}

a.nav-link:hover {
    color: var(--primary-color);
}


a.nav-link {
  font-family: "Sofia Sans Extra Condensed", sans-serif;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 600;
  color: var(--primary-color);
}

a.nav-link:hover {
    color: var(--dark-blue);
}


/* ---------- Hamburger */
label {
  display: block;
}

label .menu {
  position: absolute;
  left: -100px;
  top: -100px;
  z-index: 100;
  width: 200px;
  height: 200px;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

label .hamburger {
  position: absolute;
  top: 135px;
  right: 50px;
  width: 30px;
  height: 2px;
  background: var(--yellow-2);
  display: block;
  -webkit-transform-origin: center;
  transform-origin: center;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

label .hamburger:after,
label .hamburger:before {
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  min-height: 100%;
  background: var(--yellow-2);
}

label .hamburger:before {
  top: -10px;
}

label .hamburger:after {
  bottom: -10px;
}

label input {
  display: none;
}

label input:checked+.menu {
  box-shadow: 0 0 0 100vw rgba(250, 250, 250), 0 0 0 100vh rgba(250, 250, 250, 0.79);
  background-color: #fafafa;
  opacity: .965;
  border-radius: 0;
  min-height: 100%;
}

label input:checked+.menu .hamburger {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

label input:checked+.menu .hamburger:after {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  bottom: 0;

}

label input:checked+.menu .hamburger:before {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  top: 0;

}

label input:checked+.menu+ul {
  opacity: 1;
}

label ul {
  z-index: 200;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  opacity: 0;
  -webkit-transition: .25s 0s ease-in-out;
  transition: .25s 0s ease-in-out;
  align-self: center;
  vertical-align: center;
}

label a {
  margin-bottom: 20px;
  display: block;
  color: #0a0a0a;
  text-decoration: none;
  text-align: center;
}

label a:hover {
  color: var(--primary-color);
  text-align: center;
}

.main-nav {
  list-style: none;
}

ul.hamburger-nav {
  text-transform: uppercase;
  font-size: 2em;
  letter-spacing: 1.5px;
  list-style: none;
  line-height: 3em;
  color: #0a0a0a;
  font-family: "Sofia Sans Extra Condensed", sans-serif;
}

ul.hamburger-nav:hover {
  color: rgb(26, 201, 201);
}
/* -----------./hamburger */
